 /* RESET */

 html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
 dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
 a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
 strong, sub, sup, tt, var, legend, fieldset {
     margin: 0;
     padding: 0;
 }
 img, fieldset {
     border: 0;
 }
 
  /* end RESET */
 
  /* FORMAT PAGE  */

#header {
    width: 100%;
   /* height: 122px; */
    float: left;
  /*  background-color: orange; */
    position: fixed;
    }

#header .logo {
    width: 15%;
    height: 50px;
    margin: 25px;
    margin-left: 5%;
    background-color: purple;
    float: left;
    }

#header .icones  {
    width: 20%;
    height: 50px;
    margin: 25px;
    margin-right: 5%;
    float: right;
   /* background-color: lightblue;*/
    }

#header .icones ul{
        margin: 0px;
        padding: 0;
    }

#header .icones li {
    width: 20%;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    }

#slider {
    width: 100%;
    height: 768px;
    float: left;
    background-color: orangered;
    }   

#slider .novidades1 {
    width: 50%;
    height: 250px;
    margin-top: 225px;
    margin-left: 125px;
   /* background-color: lightseagreen; */
    }

#slider .novidades1 h1 {
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
    }
 
#slider .novidades1 h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: white;
    }

#slider .novidades1 ul{
    margin: 0px;
    padding: 0;
    }

#slider .novidades1 li {
    font-size: 21px;
    float: left;
    list-style: none;
    margin-right: 35px;
    color: white;
    }

#categorias .cx1 {
    width: 50%;
    height: 768px;
    float: left;
    background-color: white;
    }

#categorias .subcx1 {
    width: 100%;
    height: 758px;
    float: left;
    margin-left: 0%;
    background-color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    }

    #categorias .cx1 p {
        float: left;
        width: calc(100% - 60px);
        font-size: 48px;
        margin-right: 60px;
        margin-top: 150px;
        color: white;
        text-align: right;
        }
    
#categorias .cx2 {
        width: 50%;
        height: 768px;
        float: left;
        background-color: white;
        }

#categorias .subcx2 {
    width: 100%;
    height: 758px;
    float: left;
    background-color:pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    }
    
    #categorias .cx2 p {
        float: left;
        width: calc(100% - 60px);
        font-size: 48px;
        margin-left: 60px;
        margin-top: 535px;
        margin-bottom: 150px;
        color: white;
        }

#categorias .cx3 {
    width: 100%;
    height: 768px;
    float: left;
    background-color: peachpuff;
    }

    #categorias .cx3 p {
        float: left;
        width: 100%;
        font-size: 48px;
        width: 100%;
        margin-top: 190px;
        color: white;
        position: absolute;
        text-align: center;
        }


#desconto {
    width: 100%;
    height: 200px;
    float: left;
    background-color: white;
    }


#destaques {
        width: 100%;
        height: 1050px;
        float: left;
        background-color: yellow;
        }

#destaques .titulo {
     width: 20%;
     height: 50px;
     float: left;
     background-color:blueviolet;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 40%;
     margin-right: 40%;
     }

#destaques ul{
    margin: 150px;
    padding: 0;
    }

#destaques li {
    width: calc(33.33% - 20px);
    height: 230px;
    float: left;
    list-style: none;
    margin: 10px;
    margin-bottom: 60px;
    /* margin-bottom: 10px; */
    text-align: center;
    background: red;
    }

#youtube {
    width: 100%;
    height: 200px;
    float: left;
    background-color: green;
    }

#footer {
    width: 100%;
    height: 100px;
    float: left;
    background-color: red;
    }