 /* RESET */

 html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
 dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
 a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
 strong, sub, sup, tt, var, legend, fieldset {
    padding: 0;
 }
 img, fieldset {
     border: 0;
 }
 
  /* end RESET */
 
  /* FORMAT PAGE  */

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

#header {
    width: 100%;
   /* height: 122px; */
    float: left;
  /*  background-color: orange; */
    position: fixed;
    }

#header .logo {
    width: 15%;
    height: 50px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 25px;
  /*  background-color: purple; */
    float: left;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size : 35px;
    color : #3F211A;
    }

#header .icones  {
    width: 20%;
    height: 50px;
    margin: 25px;
    float: right;
  /*  background-color: lightblue; */
    }

#header .icones ul{
        margin: 0px;
        padding: 0;
    }

#header .icones li {
    width: 20%;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 25px;
    color : #3F211A;
    }

#slider {
    width: 100%;
    height: 768px;
    float: left;
   /* background-color: orangered; */
    background-image: url('../images/taylor-brandon-_LaExtFs-oo-unsplash\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    }   

#slider .novidades1 {
    width: 50%;
    height: 250px;
    margin-top: 225px;
    margin-left: 125px;
   /* background-color: lightseagreen; */
    }

#slider .novidades1 h1 {
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }
 
#slider .novidades1 h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }

#slider .novidades1 ul{
    margin: 0px;
    padding: 0;
    }

#slider .novidades1 li {
    font-size: 21px;
    float: left;
    list-style: none;
    margin-right: 35px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }

#categorias .cx1 {
    width: 50%;
    height: 768px;
    float: left;
    background-color: white;
    }

#categorias .subcx1 {
    width: 100%;
    height: 758px;
    float: left;
    margin-left: 0%;
    background-color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    }

    #categorias .cx1 p {
        float: left;
        width: calc(100% - 60px);
        font-size: 48px;
        margin-right: 60px;
        margin-top: 150px;
        color: white;
        text-align: right;
        font-family: 'Open Sans', sans-serif;
        }
    
#categorias .cx2 {
        width: 50%;
        height: 768px;
        float: left;
        background-color: white;
        }

#categorias .subcx2 {
    width: calc(100% - 5px);
    height: 758px;
    float: left;
    background-color:pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    }
    
    #categorias .cx2 p {
        float: left;
        width: calc(100% - 60px);
        font-size: 48px;
        margin-left: 60px;
        margin-top: 535px;
        margin-bottom: 150px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        }

#categorias .cx3 {
    width: 100%;
    height: 768px;
    float: left;
    background-color: peachpuff;
    margin-bottom: 5px;
    }

    #categorias .cx3 p {
        float: left;
        width: 100%;
        font-size: 48px;
        width: 100%;
        margin-top: 190px;
        color: white;
        position: absolute;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        }


#desconto {
    width: 100%;
    height: 220px;
    float: left;
    background-color: pink;
    margin-bottom: 5px;
    }

#desconto .desconto {
    width: 50%;
    height: 100%;
    float: left;
  /*  background-color: burlywood; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    }

    #desconto p {
        font-size: 36px;
        color: white;
        margin-left: 158px;
        float: left;
        width: calc(100% - 150px);
        font-family: 'Open Sans', sans-serif;
        }

#desconto .areabotao {
    width: 50%;
    height: 100%;
    float: left;
  /*  background-color: blue; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
   
    #desconto button {
        border-radius: 30px;
        font-size: 30px;
        padding-left: 30px;
        padding-right: 30px;
        float: left;
        width: 50%;
        float: right;
        font-family: 'Open Sans', sans-serif;
        }

#destaques {
        width: 100%;
        height: 1710px;
        float: left;
        background-color: lightgoldenrodyellow;
        }

#destaques .titulo {
     width: 20%;
     height: 50px;
     /* background-color:blueviolet; */
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 40%;
     margin-right: 40%;
     padding: 0;
     }

     #destaques .titulo p {
        font-size: 36px;
        color: brown;
        text-align: center;
        }

#destaques .filtros {
    width: 100%;
    height: 30px;
  /*  background-color: black; */
    }  

    #destaques .filtros ul {
        margin-left: 158px;
        padding: 0;
        margin-right: 158px;
        margin-top: 50px;
        height: 50px;
        margin-bottom: 0px;
        }  

    #destaques .filtros li {
        font-size: 21px;
        float: left;
        list-style: none;
        margin-right: 40px;
        margin-left: 10px;
        } 

#destaques .produtos {
   /*  background-color: teal; */
    height: 1450px;
    } 

#destaques .produtos ul{
        margin-left: 158px;
        padding: 0;
        margin-right: 158px;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 1450px;
    }

#destaques .produtos li {
    width: calc(33.33% - 20px);
    height: 463px;
    float: left;
    list-style: none;
    margin: 10px;
    /* margin-bottom: 10px; */
    text-align: center;
    background: red;
    }

#destaques li .imagem {
    height: 325px;
    width: 100%;
    text-align: center;
    background: greenyellow;
    }
   
#destaques li .imagemdescricao {
    height: 138px;
    width: 100%;
    background: pink;
    }

    #destaques li .produtodescricao {
        background: white;
        margin-left: 5px;
        margin-top: 25px;
        float: left;
        text-align: left;
        }

        #destaque li .produtodescricao p {
            font-size: 16px;
            margin-left: 25px;
            }

        #destaque li .produtodescricao .far {
            font-size: 16px;
            margin-bottom: 25px;
            margin-right: 10px;
            padding: right 20;
            }
           
    #destaques li .coracao {
        width: calc(50% - 5px);
       /* background: rgb(38, 32, 99); */
        margin-right: 5px;
        margin-top: 25px;
        margin-bottom: 25px;
        float: right;
        }

        #destaques .coracao .far {
            float: right;
            font-size: 30px;
            }

#youtube {
    width: 100%;
    height: 220px;
    float: left;
    background-color:#E4E0DF;
    margin-bottom: 5px;
    }


    #youtube .canalyoutube {
        width: 50%;
        height: 100%;
        float: left;
       /* background-color: burlywood; */
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        }
    
        #youtube .canalyoutube p {
            font-size: 36px;
            margin-left: 158px;
            float: left;
            width: calc(100% - 50px);
            color : #3F211A;
            font-family: 'Open Sans', sans-serif;
            }
    
    #youtube .areabotao {
        width: 50%;
        height: 100%;
        float: left;
        /* background-color: blue; */
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
       
        #youtube button {
            border-radius: 30px;
            font-size: 30px;
            padding-left: 30px;
            padding-right: 30px;
            float: left;
            width: 50%;
            float: right;
            background : #FFFFFF;
            color : #3F211A;
            font-family: 'Open Sans', sans-serif;
            filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000') ;
            }

#footer {
    width: 100%;
    height: 250px;
    float: left;
    background-color: #6F5853;
    }

#footer h3 {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    }

#footer .parte1 {
    width: 16.67%;
   /* background-color: tomato; */
    float: left;
    height: 250px;
    }

    #footer .parte1 li {
        margin-left: 25px;
        margin-bottom: 5px;
        list-style: none;
        color: white;
        font-size: 14px;
        } 

#footer .parte2 {
    width: 16.67%;
  /*  background-color: orange; */
    float: left;
    height: 250px;
    }

    #footer .parte2 li {
        margin-left: 25px;
        margin-bottom: 5px;
        list-style: none;
        color: white;
        font-size: 14px;
        } 

#footer .parte3 {
    width: 16.67%;
 /*   background-color: orchid; */
    float: left;
    height: 250px;
    }

    #footer .parte3 li {
        margin-left: 25px;
        margin-bottom: 5px;
        list-style: none;
        color: white;
        font-size: 14px;
        } 

#footer .parte4 {
    width: 16.67%;
  /*  background-color: black; */
    float: left;
    height: 250px;
    }

    #footer .parte4 li {
        margin-left: 25px;
        margin-bottom: 5px;
        list-style: none;
        color: white;
        font-size: 14px;
        } 

#footer .parte5 {
    width: 16.67%;
  /*  background-color: blue; */
    float: left;
    height: 250px;
    }

    #footer .parte5 li {
        margin-left: 25px;
        margin-bottom: 5px;
        float: left;
        list-style: none;
        color: white;
        font-size: 20px;
        } 

#footer .parte6 {
    width: 16.65%;
 /*   background-color: lightgreen; */
    float: left;
    height: 250px;
    }

    #footer .parte6 p {
        margin-right: 25px;
        margin-top: 205px;
        margin-bottom: 25px;
        float: right;
        list-style: none;
        color: white;
        font-size: 14px;
        } 
