header {
    width: 100%;
    height: 100px;
    float: left;
    background-color: orange;
    }

ul{
    margin: 0px;
    padding: 0;
}

.logo {
    width: 15%;
    height: 50px;
    margin: 25px;
    margin-left: 5%;
    background-color: purple;
    float: left;
    }

.icones {
    width: 20%;
    height: 50px;
    margin: 25px;
    margin-right: 5%;
    float: right;
    background-color: lightblue;
    }

.icones li {
    width: 20%;
    height: 30px;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    }

.slider {
    width: 100%;
    height: 668px;
    float: left;
    background-color: orangered;
    }   

.novidades1 {
    width: 50%;
    height: 250px;
    margin-top: 50px;
    margin-left: 25%;
    background-color: lightseagreen;
    }

 
 .cx12 {
    width: 100%;
    height: 768px;
    float: left;
    background-color: blue;
    }

    .subcx1 {
        width: 50%;
        height: 768px;
        float: left;
        margin: 0px;
        margin-left: 0%;
        background-color:black;
        }
    
        .subcx2 {
            width: 50%;
            height: 768px;
            float: left;
            margin: 0px;
            margin-left: 0%;
            background-color:pink;
            }
    

.cx3 {
        width: 100%;
        height: 768px;
        float: left;
        background-color: purple;
        }


.desconto {
    width: 100%;
    height: 200px;
    float: left;
    background-color: white;
    }

.destaques {
        width: 100%;
        height: 1050px;
        float: left;
        background-color: yellow;
        }

.titulo {
     width: 20%;
     height: 50px;
     float: left;
     background-color:blueviolet;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 40%;
     margin-right: 40%;
            }

.destaques li {
    width: calc(33.33% - 20px);
    height: 230px;
    float: left;
    list-style: none;
    margin: 10px;
    /* margin-bottom: 10px; */
    text-align: center;
    background: red;
    }

.youtube {
    width: 100%;
    height: 200px;
    float: left;
    background-color: green;
    }

footer {
    width: 100%;
    height: 100px;
    float: left;
    background-color: red;
    }